:root {
   /* Текстові кольори */
--main-txt-color: #757575;
--header-color: #212121;
--accent-color: #2196F3;
--txt-color: #FFFFFF;
--add-color: rgba(255, 255, 255, 0.6);

/* Фонові кольри */
--main-bg-color: #FFFFFF;
--section-bg-color: #2F303A;
--add-bg-color: #F5F4FA;

/* Інше */



}


/* Стилі для index.html */
body {
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    
}

/* Шапка */





/* Навігація */






ul {
    list-style: none;
}






/* Hero */

.hero-title {
    color: white;
}

.hero, .footer {
    background-color: #2f303a;
    color: white;
}

.button{
    background-color: #2196f3;
    color: white;
    font-family: inherit;
}

/* Feature */












/* Наша команда */





.link {
    text-decoration: none;
}


/* Підвал */


    




.link-footer {
    color: white;
    text-decoration: none;
}

.footer { 
    background-color: #2f303a;
    color: white;
}

address {
    font-style: normal;
}

/* Стилі для portfolio.html */

.filters {
    color: rgba(0, 0, 0, 0)
}

.sub-button {
    background-color: #F5F4FA;
}







    

   
