:root {
   --main-color: #757575;

}


/* Стилі для index.html */

/* Шапка */

body {
    color: var(--main-color);
    
    
}

h1,h2,h3 {
    color:black
}





ul {
    list-style: none;
}






/* Hero */

.hero-title {
    color: white;
}

.hero, .footer {
    background-color: #2f303a;
    color: white;
}

.button{
    background-color: #2196f3;
    color: white;
}

/* Переваги */







/* Наша команда */

.link {
    text-decoration: none;
}


/* Підвал */

.style {
    color: white;
}

.link-footer {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #2f303a;
    color: white;
}

/* Стилі для portfolio.html */

.sub-button {
    background-color: #F5F4FA;
}



h1 {
    color: rgb(0, 0, 0, 0);
}

h2,h3 {
    font-family: Roboto;
}
