:root {
   

}


/* Стилі для index.html */

/* Шапка */

.header-link {
    color: #2196f3;
}

body {
    background-color: white;
    color: #757575;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    
}


ul {
    list-style: none;
}






/* Hero */

.hero-title {
    color: white;
}

.hero, .footer {
    background-color: #2f303a;
    color: white;
}

.button{
    background-color: #2196f3;
    color: white;
}

/* Feature */

.list-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.work-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}







/* Наша команда */



.link {
    text-decoration: none;
}


/* Підвал */

.style {
    color: white;
}

.link-footer {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #2f303a;
    color: white;
}

/* Стилі для portfolio.html */

.sub-button {
    background-color: #F5F4FA;
}

.logo-link {
    color: #2196f3;
}




h2 {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
    
h3 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #212121;
}
   
